*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: 2px ;
    line-height: 250%;
    text-align: justify;
    text-indent: 45px;
    /* text-transform: uppercase;
    text-transform: lowercase;

    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;

    letter-spacing: ;
    
 */
}

h2{
    text-shadow: 5px 4px 3px rgb(236, 89, 89)
}

.header{
    -webkit-text-stroke: 2px red;
    color: aliceblue;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 5px;
}
.box{
    width: 250px;
    height:250px;
    background-color: black;
    box-shadow: 5px 10px 30px red;
}

img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.box2{
    width: 300px;
    height:300px;
    background-color: black;
    background-image: linear-gradient()
    box-shadow: 5px 10px 30px red;
}

.box-text{
    margin-top: 120px;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://tse4.mm.bing.net/th?id=OIP.Ix6XjMbuCvoq3EQNgJoyEQHaFj&pid=Api&P=0") ;
}

.box-text p {
    color: white;
}